@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

#page
{
    margin: 0;
}

#logo
{
    width: 100%;
    display: flex;
    color: white;
    font-family: "Playfair Display",cursive;
    font-size: 1.5em;
    margin-right: 0;
}

#intestazione
{
    height: 500px;
    background-image: url("sfondo.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intestazione nav div
{
    display: flex;
    align-items: center;
}

#intestazione nav
{
    height: 10%;
    background-color: rgba(53, 46, 46,.8);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

div#profile img
{
    margin-top: 500px;
    border-radius: 100%;
    height: 100px;
}

#page-title
{
    position: absolute;
    top: 15%;
    bottom: 0;
    right: 0;
    left: 0;
    width: 40%;
    height: 10%;
    z-index: 1; 
}

#page-title h1
{
    font-weight: normal;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    font-family:"Poiret One",cursive; 
}

#links a
{
    display: flex;
    font-family: 'Brush Script MT', cursive;
    font-size: 1.5em;
    margin-left: 40%;
    align-items: center;
    margin: 15px;
}

.ref
{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border: 0.1em white solid;
    border-radius: 40%;
    padding: 2px 10px;
}

.ref:hover 
{
    color:  rgb(53, 46, 46);
    background-color: white;
}

#intro
{
    font-style: italic;
    margin-left: 2.5%;
    opacity: 0.8;
    margin-top: 60px;
}


section.ordina
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.7%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#paragraph-container
{
    display: flex;
    flex-direction: column;
    font-family: "Lato", "Helvetica Neue", Verdana, sans-serif;
    line-height: 20px;
    width: 66.67%;
}

#paragraph-container img
{
    width: 100%;
    height: 100%;
}

#paragraph-container h1
{
    display: flex;
    align-items: center;
    width: 100%;
    color: #c10b18;
    font-family: "Special Elite",sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin-top: 60px;
}

.paragraph
{
    margin-bottom: 120px;
    font-weight: lighter;
    font-style: normal;
}

#footer
{
    display: flex;
    width: 100%;
    height: 6vh;
    background-color: rgb(53, 46, 46);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.number
{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: rgb(53, 46, 46);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 1.5%;
}

#icon-menu
{
    display: none;
}

@media screen and (max-width: 768px)
{
    body
    {
        margin: 0;
    }

    #intro
    {
        margin-top: 60px;
    }

    #icon-menu
    {
        display: flex;
        flex-direction: column;
    }

    #icon-menu div
    {
        width: 28px;
        height: 4px;
        background-color: white;
        margin: 5px 0;
    }

    #links a
    {
        display: none;
    }

    #intestazione
    {
        background-image: cover;
        height: 250px;
    }

    #page-title
    {
        display: flex;
        position: absolute;
        top: 15%;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 20%;
        font-size: 0.6em;
        align-items: center;
    }

    #logo
    {
        font-size: 1em;
    }

    #intestazione nav
    {
        height: 3%;
    }

    .number
    {
        width: 30px;
        height: 30px;
        font-size: 18px;
    }

    #paragraph-container h1
    {
        font-size: 18px;
    }

    .paragraph
    {
        margin-bottom: 60px;
    }

    div#profile img
    {
        margin-top: 250px;
    }
}


