@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

#page
{
    margin: 0;
}

#intestazione
{
    height: 500px;
    background-image: url("sfondo.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intestazione nav
{
    height: 10%;
    background-color: rgba(53, 46, 46,.8);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#links
{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#links a
{
    display: flex;
    font-family: 'Brush Script MT', cursive;
    font-size: 1.5em;
    margin-left: 40%;
    align-items: center;
    margin: 15px;
}

.ref
{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border: 0.1em white solid;
    border-radius: 40%;
    padding: 2px 10px;
}

.ref:hover 
{
    color:  rgb(53, 46, 46);
    background-color: white;
}

#page-title
{
    display: flex;
    position: absolute;
    top: 15%;
    bottom: 0;
    right: 0;
    left: 0;
    width: 40%;
    height: 10%;
}


div#profile img
{
    margin-top: 500px;
    border-radius: 100%;
    height: 100px;
}

#page-title h1
{
    font-weight: normal;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    font-family:"Poiret One",cursive; 
}

section.ordina
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
}

div.paragraph-container
{
    display: flex;
    width: 66.67%;
    margin-bottom:120px;
}

span.content
{
    display: flex;
    flex-direction: column;
    font-family: "Lato", "Helvetica Neue", Verdana, sans-serif;
    line-height: 20px;
    width: 66.67%;
}

div.paragraph-container img
{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 120px;
}

.content h1
{
    color: #c10b18;
    font-family: "Special Elite",sans-serif;
    font-weight: normal;
    font-size: 24px;
}

p.paragraph
{
    font-weight: lighter;
    font-style: normal;
    font-size: 1em;
    margin-top: 20px;
}

#footer
{
    display: flex;
    width: 100%;
    height: 6vh;
    background-color: rgb(53, 46, 46);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

span.number
{
    text-align: center;
    color: white;
    background-color: rgb(53, 46, 46);
    border-radius: 50%;
    font-size: calc(10px + 1.5vw);
    margin-top: 10px;
    margin-right: 40px;
    height: fit-content;
    width: 40px;
}

#icon-menu
{
    display: none;
}

@media screen and (max-width: 768px)
{
    body
    {
        margin: 0;
        font-size: 14px;
    }

    #icon-menu
    {
        display: flex;
        flex-direction: column;
    }

    #icon-menu div
    {
        width: 28px;
        height: 4px;
        background-color: white;
        margin: 5px 0;
    }

    #links a
    {
        display: none;
    }

    span.number
    {
        width: 20px;
    }

    .content h1
    {
        font-size: 12px;
    }
}
